// bootstrap overrides
$primary: rgb(94, 94, 94);
$secondary: rgba(125, 125, 125, .1);
$light: rgba(224, 224, 224, 1);
$dark: rgba(20, 20, 20, 1);

$primaryFont: 'Courier New', Courier, monospace;

@import "~bootstrap/scss/bootstrap";

/*
globals
*/

body {
    margin: 0;
    padding: 1%;
    font-family: $primaryFont;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: $dark;
}

main {
    padding: 1rem 0;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

h3{
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
}

.inline-header {
    font-size: 1.5rem;
    display: inline-block;
}

p{
    font-size: 1rem;
}

.bubble {
    background-color: $white;
    border-style: solid;
    border-color: $dark;
    border-radius: 25px;
}

.sm {
    margin: 0 auto;
    width: 65%;
}

.content {
    padding: 1rem;
    color: $dark;
    margin: 1rem;
    margin-top: 0;
    padding: 1rem;
}

.col-form-label {
    font-weight: bold;
}

/*
    layout
*/

$navWidth: 125px;
$headerHeight: 42px;

.nav-drawer {
    position: fixed;
    top: $headerHeight;
    left: 0;
    width: $navWidth;
    height: calc(100% - $headerHeight);

    text-align: center;
    
    background-color: $white;
    border-right: solid;
    border-right-color: $dark;
}

.header {
    -webkit-app-region: drag;

    position: fixed;
    height: $headerHeight;
    width: 100%;
    top: 0;
    left: 0;

    padding: 0;
    
    margin: 0;

    background-color: $dark;
    color: $light;
    
    font-weight: bold;
    font-size: 1.5rem;
    
}

.header-content {
    vertical-align: middle;
    margin-left: calc($navWidth);
}

.app {
    margin: 0 auto;
    position: fixed;

    height: calc(100% - $headerHeight);
    width: calc(100% - $navWidth);

    top: $headerHeight;
    left: $navWidth;

    padding: 0;
}

/*
  nav
*/

.nav-icon {
    position: relative;
    top: 25px;
}

.nav-link {
    height: $navWidth;
    width: $navWidth;
    font-weight: bold;
    text-decoration: none;
    color: $dark;
    font-size: 1.25rem;
    border-bottom: solid;
    border-bottom-color: $dark;
    border-right: solid;
    border-right-color: $dark;
}

.nav-link:hover {
    text-decoration: underline;
    color: $dark;
}

.active, .active:hover {
    background-color: $light;
    text-decoration: none;
}

/*
 alert
 */ 

.alert {
    height: 5%;
    width: 50%;
    margin: 0 auto;
}

.alert-text {
    font-size: 1rem;
}

.alert-heading {
    font-weight: bold;
}

/*
article editor
*/

.article-editor {

}

.article-editor-toolbar {
    width: 66%;
}

.article-editor-header {

}

.article-editor-container {
    height: 450px;
}

.ql-editor {
    font-family: $primaryFont;
    padding: 0px;
}

.ql-editor h3 {
    text-decoration: none;
}

/*
article reader
*/

.article-reader-modal {
    max-width: 70%;
}

.article-reader-container {
    
}

.article-reader-header {
    margin: 0 auto;
}

.article-reader-title {
    font-size: 3rem;
}

.article-reader-subtitle {
    font-size: 1.25rem;
}

.article-reader-by-line {
    border-bottom-style: solid;
    border-bottom-color: $primary;
    border-bottom-width: .1rem;
}

.article-reader-body {
    font-family: $primaryFont;
    position: relative;
    top: -1rem;
}

.article-reader-body h1, .article-reader-body h2, .article-reader-body h3 {
    margin-top: 1rem;
}


/*
files
*/ 

.file-link {
    font-size: 1rem;
    text-decoration: none;
    color: $dark;
    font-weight: bold;
}

.file-link:hover {
    text-decoration: underline;
    color: $dark;
}