// bootstrap overrides
$primary: rgb(94, 94, 94);
$secondary: rgba(125, 125, 125, .1);
$light: rgba(224, 224, 224, 1);
$dark: rgba(20, 20, 20, 1);

@import "~bootstrap/scss/bootstrap";

/*
globals
*/

body {
    margin: 0;
    padding: 1%;
    font-family: 'Courier New', Courier, monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: left;
    color: $dark;
}

main {
    padding: 1rem 0;
}

h1{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

h2{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0;
}

h3{
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
    color: $white;
}

p{
    font-size: 1.25rem;
}

.bubble {
    background-color: $white;
    border-style: solid;
    border-color: $dark;
    border-radius: 25px;
}

.sm {
    margin: 0 auto;
    width: 65%;
}

.content {
    background-color: $dark;
    color: $white;
    padding: 1rem;
}

.alt-content {
    width: 65%;
    margin: 1rem auto;
    color: $dark;
    font-weight: bold;
}

/*
    layout
*/

$navWidth: 125px;

.nav-drawer {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: $navWidth;
    height: 100vh;
    background-color: $white;
    border-right: solid;
    border-right-color: $dark;
}

.nav-icon {
    position: relative;
    top: 25px;
}

.app {
    margin: 0 auto;
    position: fixed;
    padding: 1rem;
    top: 0;
    left: $navWidth;
    height: 100%;
    width: calc(100% - $navWidth);
}

/*
  nav links
*/

.nav-link {
    height: $navWidth;
    width: $navWidth;
    font-weight: bold;
    text-decoration: none;
    color: $dark;
    font-size: 1.25rem;
    border-bottom: solid;
    border-bottom-color: $dark;
    border-right: solid;
    border-right-color: $dark;
}

.nav-link:hover {
    text-decoration: underline;
    color: $dark;
}

.active, .active:hover {
    background-color: $light;
    text-decoration: none;
}

/*
 alert
 */ 

.alert {
    height: 5%;
    width: 50%;
    margin: 0 auto;
}

.alert-text {
    font-size: 1rem;
}

.alert-heading {
    font-weight: bold;
}